body {
	background-color: #373536;
	background-image: url(../Images/AboutMeBackground.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position-y: 12%;
	background-position-x: 50%;
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
}

* {
	font: 16px Verdana, sans-serif;
	padding: 0;
	margin: 0;
}


.Main {
	padding: 0;
	margin: 0;
}

.Button {
	background-color: #2C2C48CD;
	color: #F5F5F500;
	text-align: center;
	text-decoration: underline;
	font-size: 1.3vw;
	line-height: 0%;
	position: absolute;
	height: 1em;
	width: 6%;
	top: 1.4%;
	padding-top: 1%;
	padding-bottom: 1%;
	border-radius: 3vw;
	border: 0.25vw solid #64516DDD;
	margin: -0.4vw;
}

.Icon {
	position: absolute;
	width: 32%;
	height: 60%;
	top: 20%;
	left: 36.5%;
	margin: 0px;
	fill: #F5F5F5DD;
}

#LeftArrow {
	left: 34%;
}

#RightArrow {
	left: 37.5%;
}

.Button:hover {
	filter: brightness(85%);
}

.Button:active {
	filter: brightness(65%);
}

#Home {
	right: 16%;
}

#Next {
	right: 2%;
}

#Back {
	right: 9%;
}

.Header {
	color: #F5F5F5DD;
	text-align: center;
	font-size: 3.4vw;
	line-height: 100%;
	position: absolute;
	height: 1em;
	width: 60%;
	top: 17.6%;
	left: 20%;
}

.DescriptionBox {
	background-color: #3C558DE2;
	background: rgb(60,85,141);
	background: linear-gradient(42deg, rgba(50,75,132,0.75) 20%, rgba(6,4,40,0.77) 94%);
	color: #F5F5F5DD;
	text-align: left;
	line-height: 0%;
	position: absolute;
	height: 45%;
	width: 64%;
	top: 25%;
	left: 17.5%;
	padding-top: 1.2%;
	padding-bottom: 1.2%;
	padding-left: 1%;
	border-radius: 25px 25px 25px 25px;
	border: 2px solid #1E3057;
	margin: -2px;
}

.Description {
	color: #F5F5F5DD;
	text-align: left;
	font-size: 1.4vw;
	line-height: 100%;
	position: absolute;
	height: 100%;
	width: 72.25%;
	top: 1.75%;
	left: 26.5%;
	padding: 0px;
	margin: 0px;
}

.Portrait {
	position: absolute;
	aspect-ratio: 365/301;
	width: 25.5%;
	top: 0%;
	left: 0%;
	padding: 0px;
	margin: 0px;
	border-radius: 25px 15px 15px 15px;
	border: 2px solid #1E3057;
	margin: -2px;
}

.ContactInfo {
	color: #F5F5F5DD;
	text-align: center;
	font-size: 1.3vw;
	line-height: 100%;
	position: absolute;
	height: 1em;
	width: 25.5%;
	top: 51.5%;
	left: 0%;
	padding: 0px;
	margin: 0px;
}

.ContactInfoEntry {
	color: #F5F5F5DD;
	text-align: left;
	font-size: 1vw;
	line-height: 100%;
	position: absolute;
	height: 1em;
	left: 0.5%;	
	padding: 0px;
	margin: 0px;
}

#Phone {
	top: 58%;
}

#Email {
	top: 62%;
}