body {
	background-color: #373536;
	background-image: url(../Images/ExperienceBackground.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position-y: 12%;
	background-position-x: 50%;
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
}

* {
	font: 16px Verdana, sans-serif;
	padding: 0;
	margin: 0;
}


.Main {
	padding: 0;
	margin: 0;
}

.Button {
	background-color: #2C2C48CD;
	color: #F5F5F500;
	text-align: center;
	text-decoration: underline;
	font-size: 1.3vw;
	line-height: 0%;
	position: absolute;
	height: 1em;
	width: 6%;
	top: 1.4%;
	padding-top: 1%;
	padding-bottom: 1%;
	border-radius: 3vw;
	border: 0.25vw solid #64516DDD;
	margin: -0.4vw;
}

.Icon {
	position: absolute;
	width: 32%;
	height: 60%;
	top: 20%;
	left: 36.5%;
	margin: 0px;
	fill: #F5F5F5DD;
}

#LeftArrow {
	left: 34%;
}

#RightArrow {
	left: 37.5%;
}

.Button:hover {
	filter: brightness(85%);
}

.Button:active {
	filter: brightness(65%);
}

#Home {
	right: 16%;
}

#Next {
	right: 2%;
}

#Back {
	right: 9%;
}

.Header {
	color: #F5F5F5DD;
	text-align: center;
	font-size: 370%;
	line-height: 100%;
	position: absolute;
	height: 1em;
	width: 60%;
	top: 17.6%;
	left: 20%;
}

.ExperienceBox {
	background: linear-gradient(104deg, rgba(23,25,41,0.77) 40%, rgba(32,35,54,0.77) 61%);
	color: #F5F5F5DD;
	text-align: left;
	font-size: 150%;
	line-height: 0%;
	position: absolute;
	height: 18em;
	width: 64%;
	top: 25%;
	left: 17.5%;
	padding-top: 1.2%;
	padding-bottom: 1.2%;
	padding-left: 1%;
	border-radius: 25px 25px 25px 25px;
	border: 3px solid #595B707D;
	margin: -3px;
}

.JobData {
	background-color: #3C3C58DD;
	color: #F5F5F5DD;
	text-align: left;
	font-size: 145%;
	line-height: 0%;
	position: absolute;
	height: 80%;
	width: 23%;
	top: 10.5%;
	padding: 0px;
	border-radius: 15px 15px 15px 15px;
	border: 2px solid #595B70DD;
	margin: -2px;
}

.JobIcon {
	position: relative;
	aspect-ratio: 1799/801;
	width: 100%;
	top: 0%;
	left: 0%;
	padding: 0px;
	padding-top: 15%;
	padding-bottom: 15%;
	border-radius: 15px 15px 0px 0px;
	border: 2px solid #595B70DD;
	margin: -2px;
}

.JobDataEntry {
	color: #F5F5F5DD;
	text-align: center;
	line-height: 100%;
	position: relative;
	height: 1em;
	width: 100%;
	left: 0%;
	padding: 0px;
}

#OReilly {
	left: 38.5%;
}

#JobCompany {
	font-size: 80%;
	top: 1.5%;
}

#JobDate {
	font-size: 50%;
	top: 2.5%;
}

#JobPosition {
	font-size: 50%;
	top: 3.5%;
}

#JobDescription {
	font-size: 46%;
	top: 4.5%;
}