#Main {
	background-color: #373536;
	background-image: url(../Images/IndexBackground2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position-y: 12%;
	background-position-x: 50%;
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
}

* {
	font: 16px Verdana, sans-serif;
	padding: 0;
	margin: 0;
}


.Blur {
	backdrop-filter: blur(3px);
	color: #F5F5F5DD;
	text-align: center;
	font-size: 750%;
	line-height: 100%;
	position: absolute;
	height: 70%;
	width: 70%;
	top: 10%;
	left: 15%;
	padding: 0px;
	border-radius: 150px 150px 150px 150px;
	z-index: -1;
	opacity: 0%;
}

.Header {
	background-color: #2C2C48DD;
	color: #F5F5F5DD;
	text-align: center;
	font-size: 7vw;
	line-height: 100%;
	position: absolute;
	height: 1em;
	width: 60vw;
	top: 20vh;
	left: 20%;
	padding-top: 4%;
	padding-bottom: 4%;
	border-radius: 25px 25px 25px 25px;
	border: 2px solid #75627EDD;
	margin: -2px;
}

.ButtonContainer {
	position: absolute;
	height: 0%;
	width: 60%;
	top: 60%;
	left: 20%;
	margin: 0px;
}

.MainButton {
	background-color: #2C2C48DD;
	color: #F5F5F5DD;
	text-align: center;
	text-decoration: underline;
	font-size: 2.35vw;
	line-height: 0%;
	position: absolute;
	height: 2em;
	width: 14vw;
	top: -2vh;
	padding: 0px;
	border-radius: 25px 25px 25px 25px;
	border: 2px solid #75627EDD;
	margin: -2px;
}

.MainButton:hover {
	filter: brightness(85%);
}

.MainButton:active {
	filter: brightness(65%);
}

#AboutMe {
	left: 0%;
}

#Education {
	left: 25.62%;
}

#Portfolio {
	right: 25.62%;
}

#Experience {
	right: 0%;
}