body {
	background-color: #373536;
	background-image: url(../Images/PortfolioBackground.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position-y: 12%;
	background-position-x: 50%;
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
}

* {
	font: 16px Verdana, sans-serif;
	padding: 0;
	margin: 0;
}


.Main {
	padding: 0;
	margin: 0;
}

.Button {
	background-color: #2C2C48CD;
	color: #F5F5F500;
	text-align: center;
	text-decoration: underline;
	font-size: 1.3vw;
	line-height: 0%;
	position: absolute;
	height: 1em;
	width: 6%;
	top: 1.4%;
	padding-top: 1%;
	padding-bottom: 1%;
	border-radius: 3vw;
	border: 0.25vw solid #64516DDD;
	margin: -0.4vw;
}

.Icon {
	position: absolute;
	width: 32%;
	height: 60%;
	top: 20%;
	left: 36.5%;
	margin: 0px;
	fill: #F5F5F5DD;
}

#LeftArrow {
	left: 34%;
}

#RightArrow {
	left: 37.5%;
}

.Button:hover {
	filter: brightness(85%);
}

.Button:active {
	filter: brightness(65%);
}

#Home {
	right: 16%;
}

#Next {
	right: 2%;
}

#Back {
	right: 9%;
}

.Header {
	color: #F5F5F5DD;
	text-align: center;
	font-size: 370%;
	line-height: 100%;
	position: absolute;
	height: 1em;
	width: 60%;
	top: 17.6%;
	left: 20%;
}

.PortfolioBox {
	background: linear-gradient(0deg, rgba(32,76,139,0.67) 9%, rgba(101,108,150,0.35) 46%, rgba(23,36,55,0.78) 84%);
	color: #F5F5F5DF;
	text-align: left;
	font-size: 150%;
	line-height: 0%;
	position: absolute;
	height: 24em;
	width: 64%;
	top: 25%;
	left: 17.5%;
	padding-top: 1.2%;
	padding-bottom: 1.2%;
	padding-left: 1%;
	border-radius: 25px 25px 25px 25px;
	border: 3px solid #122247D3;
	margin: -3px;
}

.CertificationLabel {
	color: #F5F5F5DF;
	text-align: center;
	font-size: 85%;
	line-height: 100%;
	position: absolute;
	height: 1em;
	width: 13%;
	top: 2%;
	left: 25%;
}

.ExperienceLabel {
	color: #F5F5F5DF;
	text-align: center;
	font-size: 85%;
	line-height: 100%;
	position: absolute;
	height: 1em;
	width: 13%;
	top: 2%;
	right: 25%;
}

.Certifications {
	background-color: #28457D76;
	text-align: left;
	line-height: 0%;
	position: absolute;
	height: 31%;
	width: 13.4%;
	top: 6%;
	left: 25%;
	padding: 0px;
	border-radius: 15px 15px 15px 15px;
	border: 2px solid #122247D3;
	margin: -2px;
}

.Experience {
	background-color: #28457D76;
	color: #F5F5F5DF;
	text-align: left;
	line-height: 0%;
	position: absolute;
	height: 31%;
	width: 13.4%;
	top: 6%;
	right: 25%;
	padding: 0px;
	border-radius: 15px 15px 15px 15px;
	border: 2px solid #122247D3;
	margin: -2px;
}

.ListText {
	color: #F5F5F5DF;
	text-align: left;
	font-size: 95%;
	line-height: 100%;
	white-space: pre-wrap;
	position: relative;
	height: 1em;
	width: 100%;
	top: 2%;
	left: 20.5%;
	margin-left: -8%;
	margin-bottom: 1.5%;
}

.Project {
	background-color: #28457DAA;
	color: #F5F5F5DF;
	text-align: left;
	line-height: 0%;
	position: absolute;
	height: 50%;
	width: 18%;
	top: 44.5%;
	padding: 0px;
	margin: 0px;
	border-radius: 15px 15px 15px 15px;
	border: 2px solid #122247D3;
	margin: -3px;
}

#Project1 {
	left: 8%;
}

#Project2 {
	left: 30%;
}

#Project3 {
	left: 52%;
}

#Project4 {
	left: 74%;
}

.ProjectIcon {
	position: relative;
	aspect-ratio: 266/187;
	width: 100%;
	top: 0%;
	left: 0%;
	padding: 0px;
	border-radius: 15px 15px 0px 0px;
	border: 2px solid #122247D3;
	margin: -2px;
}

.ProjectName {
	color: #F5F5F5DF;
	text-align: center;
	font-size: 125%;
	line-height: 100%;
	position: absolute;
	height: 1em;
	width: 100%;
	top: -8.5%;
	left: 0%;
	padding: 0px;
}

.ProjectDate {
	color: #F5F5F5DF;
	text-align: center;
	font-size: 115%;
	line-height: 100%;
	position: relative;
	height: 1em;
	width: 100%;
	top: 2%;
	left: 0%;
	padding: 0px;
}

.ProjectDescription {
	color: #F5F5F5DF;
	text-align: left;
	font-size: 95%;
	line-height: 100%;
	position: relative;
	height: 1em;
	width: 97%;
	top: 2%;
	left: 0%;
	padding-left: 3%;
}